/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* */
html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
}
body > .main {
	margin: 0 auto;
	width: 980px;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

footer {
  font-size: small;
  margin-top: 8em;
}

aside {
  font-size: small;
  left: 780px;
  position: absolute;
  text-align: right;
  width: 180px;
}

p {
  line-height: 1.5em;
}
body > p {
  width: 720px;
}


body > blockquote {
  width: 640px;
}

blockquote {
	border-left: solid 2px #ccc;
	padding-left: 18px;
	/*margin: 2em 0 2em -20px;*/
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Serif;
}

blockquote cite {
	font-style: normal;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	display: block;
	text-align: right;
}

body > li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
  line-height: normal;
}

textarea {
  font-size: 100%;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
  width: 960px;
  overflow-x: auto;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

aside,
.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

iframe {
  width: 960px;
  height: 500px;
  border: 1px solid #DEDEDE;
}

/* */
h1 { margin-bottom: .4em; }
h1 em { color: #eee; }

input.large { width: 60%; }
input.large, button.large {
	padding: .5em;
	font-size: 100%;
}

.chart {
	border: solid 1px #ddd;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	font: 10px sans-serif;
	text-align: center;
	clear: both;
	margin: 20px 0 0;
}
fieldset { display: inline; background: #efefef; padding: 0 6px; }
fieldset label { font-size: 80%; }